@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
}

.card {
    margin-top: 5.5rem;
    border-radius: 8px;
    overflow: hidden;
    width: 20.4rem;
    background-color: hsl(244, 38%, 16%);
}

.image-header {
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
}

.mobile-header {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: opacity(.7);
    mix-blend-mode: multiply;
}

.content {
    margin: 2.4rem 0;
    padding: 0 2rem;
    text-align: center;
}

.sub-title {
    font-size: 1.86em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

span {
    color: hsl(277, 64%, 61%);
}

.desc {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.56rem;
    margin-top: 0.8rem;
}

.stats {
    margin-top: 2.45rem;
}

.stats-number {
    font-size: 1.5rem;
    margin-bottom: .2rem;
    font-family: 'Inter', sans-serif;
}

.stats-text {
    font-size: .85rem;
    font-weight: 400;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 0.4em;
    margin-bottom: 1.8rem;
}

.attribution {
    font-size: .7em;
    color: hsla(0, 0%, 100%, 0.6);
    margin: 1rem 0;
}

@media only screen and (min-width: 1200px) {
    .card {
        display: flex;
        width: 69.4rem;
        height: 28rem;
        flex-direction: row-reverse;
        margin-top: 3.5rem;
    }

    .content {
        margin-top: 4.4rem;
        padding: 0px;
        text-align: left;
        margin-left: 4.5rem;
    }

    .sub-title {
        font-size: 2.24rem;
        padding-right: 4rem;
    }

    .desc {
        font-size: .93rem;
        margin-top: 1.7rem;
        padding-right: 7rem;
    }

    .stats {
        display: flex;
        margin-top: 4.5rem;
        gap: 3.88rem;
    }
}